:root{
  --textcolor-color: black; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.labelLink{
  color: var(--textcolor-color);
  text-decoration: none;
}

.labelLink:active{
  color: var(--textcolor-color);
  text-decoration: none;
}